<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>

  <form th:action="@{/budgets/new}" th:object="${form}" method="post">
    <div class="form-group">
      <label th:for="name">그룹명</label>
      <input type="text" th:field="*{name}" class="form-control"
             placeholder="이름을 입력하세요">
    </div>
    <div class="form-group">
      <label th:for="desc">그룹설명</label>
      <input type="text" th:field="*{desc}" class="form-control"
             placeholder="그룹에 대해 설명해주세요">
    </div>
    <div class="form-group">
      <label th:for="amount">예산총액</label>
      <input type="number" th:field="*{amount}" class="form-
control" placeholder="예산 총액을 입력하세요">

    </div>
    <div class="form-group">

      <label th:for="image">커버이미지</label>
      <input type="text" th:field="*{image}" class="form-control"
             placeholder="커버 이미지를 등록해주세요">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br/>
  <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>